.h-screen {
  min-height: 100vh;
}

.pointed {
  cursor: pointer;
}

.header-nav {
  display: block;
  height: 1.5rem;
}

.hover-grey:hover {
  background-color: #f4f5f7;
}

.header-back {
  min-height: 45vh;
  background-size: cover;
  background-position: center top;
}

.header-create {
  min-height: 20vh;
}

.min-h-full {
  min-height: 80vh;
}

table {
  border-spacing: 2em;
}

.header-back {
  z-index: 0;
}

#sidenav-main, #navbar-main {
  z-index: 100;
}

.w-100 {
  width: 100%;
}

// Pulse

.pulse {
  width: 10px;
  height: 10px;
  background-color: #749a02;
  border-radius: 5px;
}
@keyframes greenPulse {
  from {
    background-color: #749a02;
    box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #91bd09;
    box-shadow: 0 0 18px #91bd09;
  }
  to {
    background-color: #749a02;
    box-shadow: 0 0 9px #333;
  }
}
div.pulse.green {
  animation-name: greenPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes yellowPulse {
  from {
    background-color: #fc9200;
    box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #ffb515;
    box-shadow: 0 0 18px #ffb515;
  }
  to {
    background-color: #fc9200;
    box-shadow: 0 0 9px #333;
  }
}
div.pulse.yellow {
  animation-name: yellowPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes redPulse {
  from {
    background-color: #bc330d;
    box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #e33100;
    box-shadow: 0 0 18px #e33100;
  }
  to {
    background-color: #bc330d;
    box-shadow: 0 0 9px #333;
  }
}
div.pulse.red {
  animation-name: redPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}